*{
    padding: 0;
    margin: 0;
}

body{
    font: 14px/22px Arial,"Hiragino Sans GB","微软雅黑","宋体";
}

.about-container{
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
}

.about-container > div{
    padding: 8px;
}
/*基本信息*/
.info-block{
    text-align: center;
}

.img-to-home{
    display: inline-block;
    text-align: center;
}

.img{
    width: 100px;
    height: 116px;
    background: url('http://dn-xuqi.qbox.me/me_small.jpg') no-repeat;
    border-radius: 50px;
    cursor: pointer;
}

.name{
    font-size: 30px;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.basic-info{
    text-align: center;
    list-style: none;
}

.get-more{
    text-align: center;
}

.get-more a{
    background: url('http://dn-xuqi.qbox.me/sns_bg.png') no-repeat;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin: 5px 5px 0 5px;
    cursor: pointer;
}

.get-more a.linkedIn{
    background-position: -160px -5px;
}

.get-more a.weibo{
    background-position: -469px -5px;
}

.get-more a.github{
    background-position: -263px -5px;
}
/*基本信息End*/

/*分隔*/
.seperator{
    text-align: center;
}

.seperator .sep{
    vertical-align: middle;
    display: inline-block;
}

.seperator .sep-l{
    width: 100%;
    height: 0;
    border-top: 1px solid #EDEDED;
}

.seperator .sep-t{
    font-size: 18px;
    padding: 6px 24px;
    text-align: center;
    background-color: #EEE;
    -moz-border-radius: 26px;
    -webkit-border-radius: 26px;
    border-radius: 26px;
    margin-top: -40px;
}
/*分隔End*/

/*技能*/
.skills-block{
    text-align: center;
}

.skills-block span{
    padding: 5px 10px;
    margin: 5px 0;
    text-align: center;
    background-color: #B4EEB4;
    display: inline-block;
}
/*技能End*/